<ion-menu side="start" menuId="mainMenu" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-title>
        <ion-note>Silver Software</ion-note><br>
        <ion-note>Health-It! <b>v1.0.0</b></ion-note>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-menu>