<ion-menu side="start" menuId="mainMenu" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title bold>{{ appName }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-title mode="md">
        <ion-note>Silver Software</ion-note><br>
        <ion-note>Health-It! <b>v{{ appVersion }}</b></ion-note>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-menu>